@page
@model CDKST.Pages.Wizard.Page6Model
@{
    ViewData["Title"] = "Competency Wizard Page 6";
}


<div class="jumbotron text-center">
    <h1 class="mx-auto my-0 text-uppercase">Review</h1>
<h3 class="font-weight-bolder">Bask in the glory of your new Competency</h3>
</div>


<hr>
<div class="row">
    <div class="col-sm-4">
        <div>
            <p class="font-weight-bolder">Session variable inputs</p>        
        </div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Competency Builder JSON</li>
                <li class="list-group-item">@HttpContext.Session.GetString(Page1Model.SerializedCompetencyJSONKey)</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.CompetencyName</td>
                            <td>@Model.CompetencyDescription</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        @* Dispositions *@
         <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Discipline</th>
                    <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var disp in Model.DispositionList)
                    {
                        <tr>
                            <td>@disp.Id</td>
                            <td>@disp.Name</td>
                            <td>@disp.Category</td>
                            <td>@disp.Discipline</td>
                            <td>@disp.Description</td>
                        </tr>
                    
                    }
                </tbody>
            </table>
        </div>
        @* KSPAIRS *@
         <div class="row">
             <table class="table table-hover table-dark">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Knowledge Element</th>
                    <th scope="col">Skill Level</th>
                    </tr>
                </thead>
           
                <tbody>
                    
                   @for (int i = 0; i < Model.KnowledgeElementList.Count; i++)                
                   {
                    <tr>
                        <td>@i</td>
                        <td>@Model.KnowledgeElementList[i].Name</td>
                        <td>@Model.SkillLevelList[i].Name</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        
            
        </div>
    </div>
</div>