@page
@model CDKST.Pages.Wizard.Page4Model
@{
    ViewData["Title"] = "Competency Wizard Page 4";
}


<div class="jumbotron text-center">
    <h1 class="mx-auto my-0 text-uppercase">Step 4</h1>
<h3 class="font-weight-bolder">Please select the Knowledge Elements required and specify the Skill Level</h3>
</div>


<hr>
<div class="row">
    <div class="col-sm-4">
        <div>
            <p class="font-weight-bolder">Session variable inputs</p>        
        </div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Competency Builder JSON</li>
                <li class="list-group-item">@HttpContext.Session.GetString(Page1Model.SerializedCompetencyJSONKey)</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <form method="post">
            <div class="form-group row">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cartesian Index</th>
                            <th scope="col">Semiotic Index</th>
                            <th scope="col">Etymology</th>
                            <th scopoe="col">Skill Level</th>        
                        </tr>
                    </thead>
                    <tbody>
                        @* https://www.learnrazorpages.com/razor-pages/forms/checkboxes#collections-of-complex-objects *@
                        @for (int i = 0;i<Model.KnowledgeDisplayList.Count();i++)
                        {
                            <tr>
                                <td><input asp-for="@Model.KnowledgeDisplayList[i].Selected"></td>
                                <th scope="row">
                                    <input type="hidden" 
                                            asp-for="@Model.KnowledgeDisplayList[i].Id" />
                                    @Model.KnowledgeDisplayList[i].Id
                                </th>
                                <td>
                                    <input type="hidden" 
                                            asp-for="@Model.KnowledgeDisplayList[i].Name" />
                                    @Model.KnowledgeDisplayList[i].Name
                                </td>
                                <td>@Model.KnowledgeDisplayList[i].Description</td>
                                <td>@Model.KnowledgeDisplayList[i].CartesianIndex</td>
                                <td>@Model.KnowledgeDisplayList[i].SemioticIndex</td>
                                <td>@Model.KnowledgeDisplayList[i].Etymology</td>
                                <td>  
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" asp-for="@Model.KnowledgeDisplayList[i].SkillLevel">
                                        <option selected>Choose...</option>
                                        @foreach (var level in Model.Slist)
                                        {
                                            <option value="@level.Id">@level.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>    
                <div class="form-group row">
                @* These are important to take advantage of the BindProperty *@
                <input type="hidden" asp-for="CompetencyName">
                <input type="hidden" asp-for="CompetencyDescription">
                @for(int i = 0; i < Model.DispositionIndicies.Count(); i++)
                {
                    <input type="hidden" asp-for="DispositionIndicies[i]">
                }
                @for (int i = 0; i < Model.KnowledgeDisplayList.Count(); i++)
                {
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].Id">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].Name">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].Description">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].CartesianIndex">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].SemioticIndex">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].Etymology">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].Selected">
                    <input type="hidden" asp-for="KnowledgeDisplayList[i].SkillLevel">         
                }
         
                <button name="submit" type="submit" class="btn btn-primary">
                    Review
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>  
        </form>          

    </div>
</div>