@page
@model CDKST.Pages.Knowledge.IndexModel

@{
    
    var count = 1;
}
 <header class="knowledgehead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Knowledge Elements</h1>
    </div>
    </div>
  </header>
 <section id="knowledge" class="knowledge-section">

<div class="text-center">
    <table class="table table-hover table-dark table-striped text-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Semiotic Index</th>
                <th scope="col">Description</th>
                <th scope="col">Etymology</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.KnowledgeElementList)
            {
                <tr>
                            
                    <th scope="row">@count</th>
                    <td>@element.Name</td>
                    <td>@element.CartesianIndex</td>
                    <td>@element.SemioticIndex</td>
                    <td>@element.Description</td>
                    <td>@element.Etymology</td>
                </tr>
                { count++; }
            }
        </tbody>
    </table>
</div>

  </section>



    



  
