@page
@model CDKST.Pages_Skill_Dictionary.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SkillDictionary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.discipline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SkillDictionary.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
