@page
@model CDKST.Pages_Skill_Dictionary.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SkillDictionary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.discipline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkillDictionary.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkillDictionary.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SkillDictionary.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
